//Font
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@font-face {
    font-family: "casual";
    src: url("/assets/font/Casual-Regular") format("tff");
}

//color
$green:#415D6B;
$cyan:#D9E5EB;
$grey:#69707B;
$orange:#F4A074;
//html
#navbar {
    .navbar {
        background-color: $green;
        padding: 17.5px 0;
        .navbar-brand {
            width: 8rem;
        }
        .nav-link {
            font-size: 16px;
            font-family: "Karla";
            color: white;
            margin-right: 15px;
            &:hover {
                color: $cyan;
            }
        }
        .btn-order {
            margin-left: 20px;
            padding: 10px 15px;
            background-color: $orange;
            color: white;
            font-size: 18px;
        }
    }
}

#hero {
    .hero {
        min-height: 600px;
        background: transparent;
        background-size: cover;
        .hero-text {
            margin: 12.5rem 0;
            h3 {
                font-size: 75px;
                color: white;
                font-family: "casual";
            }
            p {
                font-size: 24px;
                color: white;
                font-family: "Karla";
            }
        }
    }
}

#greet {
    padding: 50px 0;
    .greet-text {
        margin-bottom: 50px;
        h3 {
            font-size: 32px;
            font-family: "casual";
        }
        p {
            font-size: 16px;
            font-family: "Karla";
            color: $grey;
        }
    }
    .text {
        margin-left: 20px;
        h3 {
            font-size: 24px;
            font-family: "casual";
        }
        p {
            font-size: 16px;
            font-family: "Karla";
            color: $grey;
        }
    }
}

#menus {
    padding: 50px 0;
    .menu-1 {
        min-height: 400px;
        background: transparent;
    }
    .menu-2 {
        min-height: 400px;
        background: transparent;
    }
    .menu-3 {
        min-height: 400px;
        background: transparent;
    }
    .menu-text {
        margin: 50px 0;
        h3 {
            font-size: 32px;
            font-family: "casual";
        }
        p {
            font-size: 16px;
            font-family: "Karla";
            color: $grey;
        }
    }
    .text {
        margin: 0 1rem;
        h5 {
            font-size: 24px;
            font-family: "casual";
        }
        p {
            margin-bottom: 0;
            font-size: 16px;
            font-family: "Karla";
            color: $grey;
        }
    }
    .price {
        font-size: 24px;
        font-family: "Karla";
    }
}

#reservation {
    margin-top: 80px;
    .reservation {
        min-height: 400px;
        background: transparent;
        background-size: cover;
        .rsv-text {
            margin: 12.5rem 0;
            h3 {
                font-size: 32px;
                color: white;
                font-family: "casual";
            }
            p {
                font-size: 16px;
                color: white;
                font-family: "Karla";
            }
            .btn-custom {
                margin-top: 15px;
                padding: 10px 0;
                font-size: 18px;
                font-family: "Karla";
                color: white;
                background-color: $green;
            }
        }
    }
}

#footer {
    background-color: $cyan;
    .footer {
        padding: 65px 0;
        .logo {
            h3 {
                font-size: 75px;
                font-family: "casual";
                color: $green;
            }
            p {
                font-size: 24px;
                font-family: "Karla";
                color: $green;
            }
        }
        .detail {
            p {
                font-size: 16px;
                font-family: "Karla";
                color: $green;
            }
        }
        .social {
            margin-top: 20px;
            a {
                color: $green;
                transition: 1s ease linear;
                i {
                    font-size: 30px;
                }
            }
        }
    }
}